html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: start;
    background-color: whitesmoke;
    
}

.container {
    width: 375px;
    margin: 0 auto;
    
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #C6C6C6;
    background-color: white;
}

.logo, .user-avatar {
    height: 35px;
    padding: 16px;
}

.user-avatar {
    border-radius: 100%;
}

.logo {
  width: 128px;
}

/* Main section */

main {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-header {
    display: flex;
    background-color: white;
}

.avatar {
    margin: 10px 0 10px 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: start;
    
}

.name {
    padding-top: 10px;
    margin: 0 0 0 7px;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.location {
    margin: 0 0 0 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.post-image {
    max-width: 375px;
    max-height: 375px;
}

.section-data {
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: start;
}

.heart-icon, .comment-icon, .dm-icon {
    margin: 10px 5px;
    max-width: 25px;
    max-height: 25px;
}

.heart-icon:hover, .post-image:hover {
    cursor: pointer;
}

.likes, .description {
    margin: 0 10px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}

.description {
    margin: 12px 10px;
    padding-bottom: 16px;
}

.lighter {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}